<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body class="container">
    <h1 class="display-4">Hello</h1>
    <p class="h6 alert alert-primary" th:text="${msg}"></p>

    <div class="h6 alert alert-primary">
      <form method="post" action="/">
        <input
          type="text"
          class="form-control me-1"
          name="text1"
          th:value="${value}"
        />
        <div>
          <label for="check">名前を隠す</label>
          <input type="checkbox" class="form-check-input" name="check" />
        </div>
        <div>
          <p>おはな：</p>
          <select name="flowers" class="form-select" size="1">
            <option value="🌷">🌷</option>
            <option value="🌸">🌸</option>
            <option value="🌻">🌻</option>
          </select>
        </div>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary px-4" value="Click" />
        </span>
      </form>
    </div>

    <h1>花占い</h1>
    <p th:if="${flag}">好き</p>
    <p th:unless="${flag}">嫌い</p>

    <ul class="list-group" th:each="name:${names}">
      <li class="list-group-item" th:text="${name}"></li>
    </ul>

    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mail</th>
        <th>Age</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${data}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.mail}"></td>
        <td th:text="${item.age}"></td>
        <td th:text="${item.phone}"></td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
