<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add</title>
</head>
<body>
<h1>Add</h1>
<form action="/add" method="post">
  <label for="firstName">firstName:</label>
  <input type="text" id="firstName" name="firstName" required>
  <label for="lastName">lastName:</label>
  <input type="text" id="lastName" name="lastName" required>
  <label for="password">password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">追加</button>
</form>
</body>
</html>
